.profile {
	border-radius: 50vh;
	width: 400px;
	/* height: 500px; */
	/* margin-top: 20px; */
	margin-bottom: 30px;
	border-radius: 15px;
}
.patterns {
	height: 20vh;
}

svg text {
	font-family: Lora;
	letter-spacing: 7px;
	stroke: #333;
	font-size: 10vh;
	font-weight: 500;
	stroke-width: 3;
	/* font-size: 15vw; */
	animation: textAnimate 5s infinite alternate;
}
@media screen and (max-width: 1366px) {
	svg text {
		font-size: 40px;
		font-weight: 300;
	}
}
@media screen and (min-width: 1300px) {
	svg text {
		font-size: 80px;
		font-weight: 400;
	}
}

@keyframes textAnimate {
	0% {
		stroke-dasharray: 0 50%;
		stroke-dashoffset: 20%;
		/* fill: hsl(189, 68%, 75%); */
		fill: #444;
	}

	100% {
		stroke-dasharray: 50% 0;
		stroke-dashoffstet: -20%;
		fill: hsla(189, 68%, 75%, 0%);
	}
}
