.profile {
	/* border-top: 5px solid black; */
	border-radius: 50%;
}
.backg {
	background-size: 200px 100px 150px 100px;
	width: 750px;
	clip-path: polygon(0 18%, 100% 0%, 100% 100%, 0% 100%);
}
.text-color {
	color: white;
	margin-top: 100px;
	margin-bottom: 100px;
}
