// .navLink {
// 	justify-content: right;
// }
#navbar {
	background-color: trasperant;
	color: #333;
	margin-top: 0.5em;
	font-weight: 700;
}

// @media screen and (max-width: 375px) {
// 	#navbar {
// 		width: 1000px;
// 	}
// }
// @media screen and (min-width: 312px) {
// 	#navbar {
// 		width: ;
// 	}
// }
