* {
	font-family: "roboto", "sans-sarif";
}

#navbar {
	/* background: rgba(0, 0, 0, 0.2); */
}
.brand {
	/* text-decoration: underline;
	margin-left: auto;
	font-family: "Dancing Script", cursive; */
	/* font-size: 25px; */
}
.navLink {
	/* margin-right: 11% !important; */
	/* margin-right: auto; */
	justify-content: right;
}
