.eduCard {
	z-index: -2;
}
.frontimage img {
	filter: blur(px);
}
.frontimage {
	position: relative;
	display: inline-block;
	padding-bottom: 50px;
	overflow: hidden;
	width: 1200px;
	border-radius: 15px;
}

.frontimage::after {
	content: "";
	position: absolute;
	background-image: linear-gradient(to bottom right, white, grey);
	top: 0px;
	left: 0;
	right: 0;

	bottom: 50px;
	opacity: 0.3;
	border-radius: 15px;
}
