.bg-color {
	background-color: #b7b9bc;
	justify-content: center;
	margin-left: 15%;
	border-radius: 15px;
}
.title-color {
	color: #152554;
}
.btn-color {
	background-color: #152554;
	color: #fff;
	border-radius: 25px;
	font-size: 13px;
	position: relative;
	overflow: hidden;
}
.card-icon {
	width: 100px;
	margin-left: 70px;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
	z-index: 2;
	justify-content: center;
	background: rgba(0, 0, 0, 0.2);
	top: -50px;

	/* border: 1px solid rgba(0, 0, 0, 0.1); */
	/* border-radius: 3px; */
}
