.split-backg {
	background-color: #333;
	height: 40vh;
	color: #fff;
	background-size: cover;
	background: linear-gradient(-45deg, #5d6468, #333);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	font-family: "Cormorant Garamond", Serif;
}
.jumbo-text {
	font-size: 10vw;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
