#login {
	/* margin-top: 50px; */
}
/* .link {
	color: #fff;
} */
/* #title {
	font-family: Georgia, "Times New Roman", Times, serif;
} */
/* * {
	font-family: serif;
	font-size: 18px;
} */

/* .link:hover {
	color: #fff;
} */
.login {
	border: 2px solid lightgrey;
	/* margin-top: 50px; */
	/* margin-bottom: 180px; */
	border-radius: 15px;
}
